Repository colobobo/client, pull requests merged in 2020-06, with the labels that each got.

#53 Feature/45 - Interface integration
  public/index.html
  src/assets/fonts/MikadoBlack.eot
  src/assets/fonts/MikadoBlack.ttf
  src/assets/fonts/MikadoBlack.woff
  src/assets/fonts/MikadoBlack.woff2
  src/assets/fonts/MikadoBold.eot
  src/assets/fonts/MikadoBold.ttf
  src/assets/fonts/MikadoBold.woff
  src/assets/fonts/MikadoBold.woff2
  src/assets/fonts/MikadoMedium.eot
  src/assets/fonts/MikadoMedium.ttf
  src/assets/fonts/MikadoMedium.woff
  src/assets/fonts/MikadoMedium.woff2
  src/assets/fonts/MikadoRegular.eot
  src/assets/fonts/MikadoRegular.ttf
  src/assets/fonts/MikadoRegular.woff
  src/assets/fonts/MikadoRegular.woff2
  src/assets/fonts/MikadoUltra.eot
  src/assets/fonts/MikadoUltra.ttf
  src/assets/fonts/MikadoUltra.woff
  src/assets/fonts/MikadoUltra.woff2
  src/assets/icons/arrow-back.svg
  src/assets/icons/arrow-down.png
  src/assets/icons/chevron.svg
  src/assets/icons/hand.png
  src/assets/illustrations/about/devices.png
  src/assets/illustrations/about/dot.png
  src/assets/illustrations/about/team/person1.png
  src/assets/illustrations/about/team/person2.png
  src/assets/illustrations/about/team/person3.png
  src/assets/illustrations/about/team/person4.png
  src/assets/illustrations/about/team/person5.png
  src/assets/illustrations/about/team/person6.png
  src/assets/illustrations/bird.png
  src/assets/illustrations/landing/background.png
  src/assets/illustrations/life.png
  src/assets/illustrations/mobile.png
  src/assets/logo/logo-simple.png
  src/assets/logo/logo.png
  src/components/GameDecoration/index.scss
  src/components/InterfaceHeader/index.scss
  src/components/InterfaceHeader/index.tsx
  src/components/admin/Header/index.scss
  src/components/admin/Header/index.tsx
  src/stylesheets/fonts.scss
  src/stylesheets/global.scss
  src/stylesheets/index.scss
  src/stylesheets/mixins.scss
  src/stylesheets/variables.scss
  src/translations/en/translation.json
  src/translations/fr/translation.json
  src/translations/i18n.ts
  src/views/about/index.scss
  src/views/about/index.tsx
  src/views/index.tsx
  src/views/join/index.scss
  src/views/join/index.tsx
  src/views/landing/index.scss
  src/views/landing/index.tsx
Labels: Integration

#56 Basic game loop with round & transition
  src/components/GamePhaser/index.tsx
  src/redux/Game/index.ts
  src/redux/Round/index.ts
  src/redux/Transition/index.ts
  src/redux/WebSocket/actions/subscribe/game.ts
  src/views/game/index.tsx
  src/views/game/round/index.scss
  src/views/game/round/index.tsx
  src/views/game/transition/index.scss
  src/views/game/transition/index.tsx
  yarn.lock
Labels: enhancement

#58 Use iframe for device in admin
  src/App.tsx
  src/components/StoreWrapper/index.tsx
  src/components/admin/Device/index.scss
  src/components/admin/Device/index.tsx
  src/index.tsx
  src/redux/Admin/index.ts
  src/redux/Device/index.ts
  src/redux/Room/index.ts
  src/redux/Round/index.ts
  src/redux/WebSocket/actions/subscribe/admin.ts
  src/redux/WebSocket/actions/subscribe/index.ts
  src/redux/index.ts
  src/redux/store.ts
  src/views/admin/group/index.scss
  src/views/admin/group/index.tsx
  src/views/admin/index.tsx
  src/views/index.tsx
  src/views/join/index.tsx
  src/views/landing/index.tsx
  src/views/room/index.tsx
Labels: admin, enhancement, socket

#55 Feature/45 - Interface integration #2
  src/assets/icons/pause.svg
  src/assets/icons/sound-on.svg
  src/assets/illustrations/break/man.png
  src/assets/worlds/desert/background-1.png
  src/assets/worlds/desert/background-2.png
  src/assets/worlds/desert/decorations/bleeds/bottom.png
  src/assets/worlds/desert/decorations/bleeds/top.png
  src/assets/worlds/desert/decorations/bottom.png
  src/assets/worlds/desert/decorations/top.png
  src/assets/worlds/river/background-1.png
  src/assets/worlds/river/background-2.png
  src/assets/worlds/river/decorations/bleeds/bottom.png
  src/assets/worlds/river/decorations/bleeds/top.png
  src/assets/worlds/river/decorations/bottom.png
  src/assets/worlds/river/decorations/top.png
  src/components/GameInterface/index.scss
  src/components/GameInterface/index.tsx
  src/components/GameTimer/index.scss
  src/components/GameTimer/index.tsx
  src/components/InterfaceBreak/index.scss
  src/components/InterfaceBreak/index.tsx
  src/components/InterfaceButton/index.scss
  src/components/InterfaceButton/index.tsx
  src/components/InterfaceHeader/index.scss
  src/components/InterfaceHeader/index.tsx
  src/components/InterfacePlacement/index.scss
  src/components/InterfacePlacement/index.tsx
  src/components/NumericKeypad/index.scss
  src/components/NumericKeypad/index.tsx
  src/components/admin/Device/index.scss
  src/components/admin/Header/index.scss
  src/stylesheets/global.scss
  src/stylesheets/mixins.scss
  src/stylesheets/variables.scss
  src/translations/en/translation.json
  src/translations/fr/translation.json
  src/views/about/index.scss
  src/views/admin/home/index.scss
  src/views/game/index.tsx
  src/views/game/round/index.tsx
  src/views/index.scss
  src/views/join/index.scss
  src/views/join/index.tsx
  src/views/landing/index.scss
  src/views/landing/index.tsx
  src/views/room/index.scss
  src/views/room/index.tsx
  yarn.lock
Labels: Integration

#61 Dynamic member creation, spawned, trapped, arrived
  src/assets/members/glasses.svg
  src/assets/members/injured.svg
  src/assets/members/lifeguard.svg
  src/assets/members/member-6.svg
  src/assets/members/rebel.svg
  src/assets/members/slobbery.svg
  src/components/GamePhaser/index.tsx
  src/datas/members.ts
  src/redux/Round/index.ts
  src/views/game/round/index.tsx
Labels: enhancement, game, socket

#67 🏗 Game : move from function architecture to class architecture
  src/components/GamePhaser/MainScene.ts
  src/components/GamePhaser/index.tsx
Labels: structure

#69 Refacto config for members and worlds
  src/assets/members/glasses.svg
  src/assets/members/glasses/skin.svg
  src/assets/members/injured.svg
  src/assets/members/injured/skin.svg
  src/assets/members/lifeguard.svg
  src/assets/members/lifeguard/skin.svg
  src/assets/members/rebel.svg
  src/assets/members/rebel/skin.svg
  src/assets/members/slobbery.svg
  src/assets/members/slobbery/skin.svg
  src/components/GameBackground/index.tsx
  src/components/GameDecoration/index.tsx
  src/components/GameDecorationBleed/index.tsx
  src/components/GamePhaser/MainScene.ts
  src/config/index.ts
  src/config/members.ts
  src/config/worlds.ts
  src/datas/members.ts
  src/views/game/round/index.tsx
Labels: structure

#78 fix MatterJS Continuous Collision Detection issue
  src/components/GamePhaser/MainScene.ts
Labels: bug, game

#87 Create Trap class
  config/webpack.config.js
  src/assets/worlds/desert/trap/snake/atlas.json
  src/assets/worlds/desert/trap/snake/texture.png
  src/components/GamePhaser/MainScene.ts
  src/components/GamePhaser/Trap.ts
Labels: game, structure

#100 Phaser : add HiDPI screens support with pixelRatio
  src/components/GamePhaser/index.tsx
  src/phaser/configs/gameConfig.ts
  src/phaser/objects/Member.ts
  src/phaser/objects/Platform.ts
  src/phaser/objects/Trap.ts
  src/phaser/scenes/MainScene.ts
Labels: enhancement, phaser

#107 Feature/play pause
  src/components/GameInterface/index.tsx
  src/components/InterfaceBreak/index.tsx
  src/components/InterfaceTimer/index.tsx
  src/components/SocketsPlayground/index.tsx
  src/redux/Round/index.ts
  src/redux/WebSocket/actions/emit/round.ts
  src/redux/WebSocket/actions/subscribe/round.ts
  src/views/game/round/index.tsx
Labels: game

#120 refacto scene management
  src/components/GamePhaser/index.tsx
  src/phaser/Game.ts
  src/phaser/configs/gameConfig.ts
  src/phaser/objects/Member.ts
  src/phaser/objects/Platform.ts
  src/phaser/objects/Trap.ts
  src/phaser/scenes/MainScene.ts
  src/phaser/scenes/Preloader.ts
  yarn.lock
Labels: game, phaser, structure

#124 Traps : update spritesheets
  public/assets/spritesheets/traps/desert/atlas.json
  public/assets/spritesheets/traps/desert/texture-0.png
  public/assets/spritesheets/traps/desert/texture-1.png
  public/assets/spritesheets/traps/desert/texture-2.png
  public/assets/spritesheets/traps/desert/texture-3.png
  public/assets/spritesheets/traps/desert/texture-4.png
  public/assets/spritesheets/traps/desert/texture-5.png
  public/assets/spritesheets/traps/jungle/atlas.json
  public/assets/spritesheets/traps/jungle/texture-0.png
  public/assets/spritesheets/traps/jungle/texture-1.png
  public/assets/spritesheets/traps/jungle/texture-10.png
  public/assets/spritesheets/traps/jungle/texture-11.png
  public/assets/spritesheets/traps/jungle/texture-12.png
  public/assets/spritesheets/traps/jungle/texture-13.png
  public/assets/spritesheets/traps/jungle/texture-14.png
  public/assets/spritesheets/traps/jungle/texture-15.png
  public/assets/spritesheets/traps/jungle/texture-16.png
  public/assets/spritesheets/traps/jungle/texture-2.png
  public/assets/spritesheets/traps/jungle/texture-3.png
  public/assets/spritesheets/traps/jungle/texture-4.png
  public/assets/spritesheets/traps/jungle/texture-5.png
  public/assets/spritesheets/traps/jungle/texture-6.png
  public/assets/spritesheets/traps/jungle/texture-7.png
  public/assets/spritesheets/traps/jungle/texture-8.png
  public/assets/spritesheets/traps/jungle/texture-9.png
  public/assets/spritesheets/traps/mountain/atlas.json
  public/assets/spritesheets/traps/mountain/texture-0.png
  public/assets/spritesheets/traps/mountain/texture-1.png
  public/assets/spritesheets/traps/mountain/texture-2.png
  public/assets/spritesheets/traps/river/atlas.json
  public/assets/spritesheets/traps/river/texture-0.png
  public/assets/spritesheets/traps/river/texture-1.png
  public/assets/spritesheets/traps/river/texture-10.png
  public/assets/spritesheets/traps/river/texture-11.png
  public/assets/spritesheets/traps/river/texture-12.png
  public/assets/spritesheets/traps/river/texture-2.png
  public/assets/spritesheets/traps/river/texture-3.png
  public/assets/spritesheets/traps/river/texture-4.png
  public/assets/spritesheets/traps/river/texture-5.png
  public/assets/spritesheets/traps/river/texture-6.png
  public/assets/spritesheets/traps/river/texture-7.png
  public/assets/spritesheets/traps/river/texture-8.png
  public/assets/spritesheets/traps/river/texture-9.png
  src/config/traps.ts
  src/phaser/scenes/MainScene.ts
  src/phaser/scenes/Preloader.ts
  yarn.lock
Labels: assets, game

#126 Phaser : canvas fit screen and not area anymore
  src/components/GamePhaser/index.scss
  src/components/GamePhaser/index.tsx
  src/phaser/configs/gameConfig.ts
  src/phaser/scenes/MainScene.ts
  src/utils/phaser.ts
  yarn.lock
Labels: game, phaser

#133 add Wall class & spritesheets
  public/assets/shapes/walls/shapes.json
  public/assets/spritesheets/walls/atlas.json
  public/assets/spritesheets/walls/texture-0.png
  public/assets/spritesheets/walls/texture-1.png
  public/assets/spritesheets/walls/texture-2.png
  public/assets/spritesheets/walls/texture-3.png
  public/assets/spritesheets/walls/texture-4.png
  src/config/index.ts
  src/config/walls.ts
  src/phaser/objects/Wall.ts
  src/phaser/scenes/MainScene.ts
  src/phaser/scenes/Preloader.ts
  yarn.lock
Labels: animation, assets, game, phaser

#143 Traps : add dynamic shapes for collisions
  public/assets/shapes/platforms/shapes.json
  public/assets/shapes/traps/desert/fire/shapes.json
  public/assets/shapes/traps/desert/meerkat/shapes.json
  public/assets/shapes/traps/desert/snake/shapes.json
  public/assets/shapes/traps/jungle/bubble-plant/shapes.json
  public/assets/shapes/traps/jungle/chameleon/shapes.json
  public/assets/shapes/traps/jungle/liana/shapes.json
  public/assets/shapes/traps/mountain/geyser/shapes.json
  public/assets/shapes/traps/mountain/penguin/shapes.json
  public/assets/shapes/traps/mountain/stalactite/shapes.json
  public/assets/shapes/traps/river/bubble-plant/shapes.json
  public/assets/shapes/traps/river/fish/shapes.json
  public/assets/shapes/traps/river/liana/shapes.json
  src/config/platforms.ts
  src/config/traps.ts
  src/phaser/objects/Platform.ts
  src/phaser/objects/Trap.ts
  src/phaser/scenes/MainScene.ts
  src/phaser/scenes/Preloader.ts
Labels: animation, assets, game, phaser

#145 Members : wrap position in area
  src/phaser/scenes/MainScene.ts
  src/redux/WebSocket/actions/emit/round.ts
Labels: enhancement, game, phaser
